.cards-info
    .container.container--content
        h2.cards-info__title Базы для бизнеса
            .cards-info__item
                .cards-info__card-front
                    h3.cards-info__title-item
                        | Договор
                .cards-info__card-back
                    p.cards-info__descr-item
                        | Договор с владельцем заведения для дальнейшего сотрудничества .Этот человек будет владеть заведением,а мы получать процент за управление и идею.