.map-block
    .map-block__map-wrap
        .map-block__map-block
            .map-block__map#map
    .map-block__text-wrap
        h2.map-block__title
            | Способы продвижения
        p.map-block__paragraph1
            | Основную аудиторию мы найдем через социальные сети и будем искать в местах , где люди соответствуют нашей модели клиента , а также один из способов это приглашение известных людей для рекламы через их аудиторию.
        p.map-block__paragraph2
            | После успешных трёх лет работы в Украине , последующим действием будет разработка франшизы нашего бренда, которая будет делиться  на несколько подразделений, связанных с одеждой, едой, Old Future Records - звукозаписывающая студия, и аксессуарами.