.map-block
    .map-block__slider
        .map-block__map-wrap
            h2.map-block__title
                | Способы продвижения
            .map-block__map-block
                .map-block__map#map
        .map-block__text-wrap
            .map-block__paragraph-wrap
                p.map-block__paragraph1
                    | Так как мы выбрали способ реализации - это базирование на уже существующем заведении,то часть клиентов перейдет от тудого.Основным источник привлечения новых клиентов будет таргетинговая реклама через социальные сети(Youtube,Instagram,Facebook),это очень важно,потому что так проще найти целевую аудиторию.
                p.map-block__paragraph2
                    | И так же контекстная реклама через Google AdWords,люди будут искать место для отдыха,места для знакомств,им будут выдавать результат на наш сайт.Мы считаем,что в наше время нужно использовать по максимуму технологии,для привлечения целевой аудитории.