//- - 
//-     var item = [
//-         {
//-             title: "awdawdawd",
//-             descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio minima eaque, voluptatem quidem, blanditiis sit eligendi eos nobis dolorem fugit labore neque enim voluptates quod deserunt impedit doloremque iste."
//-         },
//-         {
//-             title: "awdawdawd",
//-             descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio minima eaque, voluptatem quidem, blanditiis sit eligendi eos nobis dolorem fugit labore neque enim voluptates quod deserunt impedit doloremque iste."
//-         },
//-         {
//-             title: "awdawdawd",
//-             descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio minima eaque, voluptatem quidem, blanditiis sit eligendi eos nobis dolorem fugit labore neque enim voluptates quod deserunt impedit doloremque iste."
//-         },
//-         {
//-             title: "awdawdawd",
//-             descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio minima eaque, voluptatem quidem, blanditiis sit eligendi eos nobis dolorem fugit labore neque enim voluptates quod deserunt impedit doloremque iste."
//-         },
//-         {
//-             title: "awdawdawd",
//-             descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio minima eaque, voluptatem quidem, blanditiis sit eligendi eos nobis dolorem fugit labore neque enim voluptates quod deserunt impedit doloremque iste."
//-         }
//-     ]

.risk
    h2.risk__title Риски
    .risk__wrap-info
        .chart#pieChart
        //- .risk__slider-wrap
        //-     .risk__slider
        //-         ul.risk__list
        //-             - for (var j = 0; j < item.length; j++)
        //-             each text in item
        //-                 li.risk__item
        //-                     h3.risk__item-title= text.title
        //-                     p.risk__item-descr= text.descr