.problem#problem
    h2.problem__title
        | Создание прогресивного сообщества
    .problem__wrap  
        .problem__descr-wrap    
            p.problem__descr
                | Отсутствие платформы для объеденения людей стремящихся к прокачке себя
        .problem__img-wrap
            img.problem__img(src="img/plan.png")
