.top-block
    .info-wrap
        h2.info__title
            | The Business Idea
        p.info__descr
            | JOIN US, AND YOU WILL GET TO THE PLACE, WHERE YOU CAN OPEN THE POSSIBILITIES FOR THE REALIZATION OF DREAMS