.economy
    width: 100%
    background: #0a0a0a

.economy__text-wrap
    padding: 50px

.economy__title
    text-align: center
    @include font ('Comfortaa', 3.5rem, $white)
    margin-top: 0

.economy__descr
    @include font ('Comfortaa', 1.3rem, $white)
    margin-top: 15px

.economy__list
    width: 100%
    display: flex
    justify-content: space-around
    background: #101907
    
.economy__item
    padding: 30px

.economy__item-title,
    margin-top: 0
    @include font ('Comfortaa', 2rem, $white)

.economy__item-num
    margin-top: 15px
    @include font ('Comfortaa', 4rem, $white)