-
    var economy = [
        {
            title: "Костюмы",
            num: "610000"
        },
        {
            title: "Барбершоп",
            num: "500000"
        },
        {
            title: "Бар",
            num: "977000"
        },
        {
            title: "Lounge zone",
            num: "2550000"
        },
        {
            title: "Ивент комната",
            num: "1470000"
        }
    ]

.economy#economy
    .economy__text-wrap
        h2.economy__title
            | Економика
        p.economy__descr
            | За счёт того что мы взяли базу для реализации уже практически готовое помещение,то затраты значительно меньше,чем если бы начать с полного нуля.Сразу отпадают затраты на аренду и полное обустройство помещения.
    ul.economy__list
        - for(var j = 0; j < economy.length; j++)
        each text in economy
            li.economy__item
                h3.economy__item-title= text.title
                span.economy__item-num.number= text.num