-
    var advantagesItem = [
        {
            srcIcon: "fa-rocket",
            title: "Инновационость",
            descr: "Наши конкуренты - это заведения предоставляющие все наши услуги по отдельности,и любые места места где можно отдохнуть и провести приятно время.Наши приемущества по сравнению с ними будет заключаться в нашей подаче и подходу,к тому же такого ещё не было Украине,Может есть и неофициальные клубы,но никто ещё не делал того,что собираемся сделать мы."
        },
        {
            srcIcon: "fa-users",
            title: "Формирование нового сообщества",
            descr: "Это будет место которое объединит прогрессивных людей,которые стремятся к развитию себя как личности.Человек способен развиваться и достигать новых вершин только в сильном окружении,людей которые достигли большего чем ты сам.Заводит новые знакомства и объединяться с интересными людьми для достижения амбициозных целей."
        },
        {
            srcIcon: "fa-check-square-o",
            title: "Причина выбора",
            descr: "Именно это мы можем предложить нашим клиентом,то,из-за чего они будут выбирать нас."
        }
    ]

.advantages#advantages
    h2.advantages__title Наши преимущества над конкурентами
    ul.advantages__slider-nav-list
        - for (var j = 0; j < advantagesItem.length; j++)
        each item in advantagesItem
            li.advantages__slider-nav-item
                i.fa(aria-hidden="true" class= item.srcIcon)
    ul.advantages__slider-list
        - for (var j = 0; j < advantagesItem.length; j++)
        each item in advantagesItem
            li.advantages__slider-item
                h3.advantages__slider-title= item.title
                p.advantages__slider-descr= item.descr
