.header
    padding: 15px 0
    background: $black
    position: relative
    z-index: 99
    box-shadow: 5px 0 10px rgba(0, 0, 0, .5)
    @include largeDevice
        height: 74px
        padding: 15px 20px
        display: flex

.overlay
    position: fixed
    z-index: 9
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0, .5)

.container--header
    width: 1200px
    display: flex
    justify-content: flex-end
    @include largeDevice
        width: 100%
        align-items: center

.header__checkbox
    display: none

.header__btn
    display: none
    @include largeDevice
        display: inline-block
        display: flex
        align-items: center
        cursor: pointer

.header__btn-icon
    color: $white

.logo-wrap
    position: absolute
    left: 30px
    top: 0

.nav
    @include largeDevice
        background: rgba(0,0,0, .7)
        width: 180px
        height: 100vh
        padding: 30px 0
        position: fixed
        top: 0
        right: -100%
        transition: all .3s ease-in

.nav--active
    right: 0

.nav__list
    display: flex
    @include largeDevice
        flex-direction: column

.nav__item
    margin-right: 15px
    &:last-child
        margin-right: 0
    @include largeDevice
        margin-right: 0

.nav__link
    display: inline-block
    padding: 10px 13px
    border: 1px solid transparent
    transition: all .2s ease-in
    @include font ($basicFont, 1.2rem, $white)
    &:hover
        border: 1px solid $basicYellow
    @include largeDevice
        border-right: none
        border-left: none
        text-align: center
        width: 100%
        padding: 15px 0
        &:hover
            border-right: none
            border-left: none