-
    var nav = [
        {
            href: "#top",
            text: "Главная"
        },
        {
            href: "#problem",
            text: "Проблемы"
        },
        {
            href: "#advantages",
            text: "Преимущества"
        },
        {
            href: "#gard",
            text: "Костюмы"
        },
        {
            href: "#economy",
            text: "Економика"
        },
        {
            href: "#analytics",
            text: "Аналитика"
        }
    ]

header.header
    .container.container--header
        input.header__checkbox#checkbox(type="checkbox")
        label.header__btn(for="checkbox")
            i.material-icons.header__btn-icon menu
        .logo-wrap
            img.logo(src="img/logo.png")
        nav.nav.navbar-collapse#nav
            ul.nav__list
                - for (var x = 0; x < nav.length; x++)
                each item in nav
                    li.nav__item
                        a.nav__link.js-scroll-trigger(href= item.href)= item.text