//  Color

$white:                                     #fff
$black:                                     #000
$basicYellow:                               #ffff00
$basicBlue:                                 #0a3761

//  Fonts

$basicFont:                                 "Roboto"