-
    var icon = [
        {
            srcImg: "img/gard1 (1).jpg"
        },
        {
            srcImg: "img/gard1 (2).jpg"
        },
        {
            srcImg: "img/gard1 (3).jpg"
        },
        {
            srcImg: "img/gard1 (4).jpg"
        },
        {
            srcImg: "img/gard1 (5).jpg"
        },
        {
            srcImg: "img/gard1 (3).jpg"
        }
    ]

.gard-block#gard
    .gard-block__first-slider
        .gard-block__title-block
            h2.gard-block__title
                | Производство Костюмов под своим брендом
        .gard-block__slider
            p.gard-block__descr
                | Костюмы будут своего дизайна,для этого будет нанят дизайнер,который будет предоставлять эскизы костюмов.Дальше мы будем отправлять на фабрику Legpromua лекала и заказывать пошив костюмов.Мы выбрали именно эту фабрику,потому что она предоставляет нужные нам услуги по пошиву костюмов,к тому же она находиться в Киеве.что удобно для доставки товара по всем филиалам в стране. Дизайнер которого мы выбрали - это Руслан Маков,основатель бренда MAKOV.Мы выбрали именно его,потому что он разрабатывает интересные и стильные вещи,которые привлекают внимание.Когда мы выбирали человека,который бы мог бы сделать дизайн наших костюмов,что бы они отличались от толпы,было сочетание классики и чего-то нового.Ведь нестандартные решения это путь к развитию.
            ul.gard-block__slider-list
                - for(var r = 0; r < icon.length; r++)
                each item in icon
                    li.gard-block__slider-item
                        img.gard-block__slider-img(src= item.srcImg)
