extends ../template.pug
block title
	| Home
block content
	include top-block/top-block.pug
	include problem/problem.pug
	include text-block/text-block.pug
	include cards-info/cards-info.pug
	include text-block/text-block1.pug	
	include advantages/advantages.pug
	include gard-block/gard.pug
	include economy/economy.pug
	include map-block/map.pug
	include analytics/analytics.pug
	include cards-with-us/cards-us.pug

	.back_to_top
		i.fa.fa-arrow-up(aria-hidden="true")