extends ../template.pug
block title
	| Home
block content
	include top-block/top-block.pug
	include text-block/text-block.pug
	include cards-info/cards-info.pug
	include text-block/text-block1.pug	
	include advantages/advantages.pug
	include cards-with-us/cards-us.pug
	include map-block/map.pug